/* Navbar menu */
.nav_menu {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 5rem;
    background-color: var(--color-primario);
    box-shadow: 0px 3px 5px #9999996c;
  }
  
  .contenedor_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  
    list-style: none;
  }
  
  .contenedor_items a {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #fff;
    font-family: var(--fuente-titulo);
    font-weight: 600;
    background-color: #17942c;
    transition: all 0.15s ease-in-out;
  }
  
  .contenedor_items a:hover {
    background-color: #38b668;
    box-shadow: 0px 3px 5px #0000003d;
  }
  
  /* Seccion de inicio (hero) */
  .inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5rem 10rem;
    margin: 0 0 4rem;
    background-image: url('../../assets/inicio_bg.jpg');
    background-position: center;
    text-align: justify;
  }
  
  .texto_inicio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    text-align: center;
  }
  
  .texto_inicio h2 {
    font-family: var(--fuente-titulo);
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
  }
  .texto_inicio p {
    width: 75%;
    margin: auto;
    font-size: 1.3rem;
  }
  
  .texto_inicio button {
    width: fit-content;
    margin: 1.5rem auto 0;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 3.5rem;
    background-color: var(--color-primario);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }
  
  .texto_inicio button:hover {
    background-color: rgb(38, 224, 109);
    box-shadow: 0px 3px 5px #0000003d;
  }
  
  .inicio img {
    width: 40%;
  }

  /* Objetivos */
  .objs {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    padding: 1rem 5rem;
    margin: 0 0 2rem;
    text-align:justify;
  }
  
  .texto_objs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .texto_objs h2 {
    font-family: var(--fuente-titulo);
    font-size: 4rem;
    font-weight: 300;
    color: var(--color-primario);
  }
  .texto_objs p {
    font-size: 1.3rem;
  }
  .objs img {
    width: 60%;
  }

  /* Paso a paso */

  .paso_paso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 5rem;
    margin: 0 0 3rem;
    text-align:justify
  }
  
  .texto_pasos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .texto_pasos h2 {
    font-family: var(--fuente-titulo);
    font-size: 4rem;
    font-weight: 300;
    color: var(--color-primario);
  }
  .texto_pasos p {
    font-size: 1.3rem;
  }
  .texto_pasos span {
    font-size: 1.7rem;
    color: var(--color-primario);
  }

  .paso_paso img {
    width: 50%;
  }

/* Contacto */
.contacto {
  display: flex;
  align-items: center;
  background-color: #f0b22d;
}
.contacto img {
  width: 60%;
  flex: 1;
}
.formulario_contacto {
  flex: 0.5;
  padding: 2rem 4rem;
}
.formulario_contacto h2 {
  color: #fff;
  font-family: var(--fuente-titulo);
  font-size: 4rem;
  text-align: center;
  margin: 0 0 1.5rem;
}
.formulario_contacto fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 0 2rem;
}
fieldset {
  border: none;
}
fieldset input, textarea, .enviar_mensaje_boton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}
textarea {
  resize: none;
  font-size: 0.9rem;
  height: 10rem;
}
.enviar_mensaje_boton {
  width: 20rem;
  margin: auto;
  color: #fff;
  font-size: 1rem;
  font-family: var(--fuente-titulo);
  font-weight: 600;
  background-color: #cc8f0b;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.enviar_mensaje_boton:hover {
  background-color: #ffcf4b;
  box-shadow: 0px 3px 5px #0000003d;
}

/* Footer */
footer {
    background-color: var(--color-primario);
    color: white;
    padding: 20px 0;
    text-align: center;
    
    width: 100%;
    bottom: 0;
}

footer .redes_contenedor {
    margin-bottom: 20px;
}

footer .redes_contenedor p {
    margin-bottom: 10px;
}

footer .redes {
    list-style: none;
    padding: 0;
}

footer .redes li {
    display: inline;
    margin: 0 10px;
}

footer .redes li a {
    color: white;
    text-decoration: none;
}

footer .redes li a img { 
  width: 30px; height: 30px;
  background: none
}

footer .redes li a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
}



  /* MODAL para login */

  .modal_login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000002f;
  }

  .modal_login_contenido {
    position: absolute;
    top: 12%;
    right: 4.5%;
    width: 20rem;
    height: 25rem;
    opacity: 0;
    border-radius: 1rem;
    background-color: #ffffffb2;
    backdrop-filter: blur(15px);
    animation: mostrar 0.2s ease-in-out forwards;
  }

  .hide {
    display: none;
  }
  .modal_titulo {
    padding: 1rem;
    margin: 0 0 1rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    color: #fff;
    font-family: var(--fuente-titulo);
    font-weight: 300;
    background-color: var(--color-primario);
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cedula, .contrasena {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
  }
  .cedula label, .contrasena label {
    text-align: center;
    font-family: var(--fuente-titulo);
  }
  .cedula input, .contrasena input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1.5rem;
  }

  .iniciar_sesion_boton {
    width: 10rem;
    margin: 1rem auto 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1.5rem;
    color: #fff;
    font-size: 1rem;
    background-color: var(--color-primario);
  }

  .animacion_ocultar {
    animation: ocultar 0.2s ease-in-out forwards;
  }

  @keyframes mostrar {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes ocultar {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }